absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
amalgamate==0.1.3
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
blessings==1.7
cachetools==4.2.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.4
clang==5.0
click==8.0.1
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
cma==3.1.0
cocoex==2.4.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorful==0.5.4
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.24
debugpy @ file:///D:/bld/debugpy_1635844808894/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
dm-tree==0.1.6
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
gin-config==0.4.0
google-api-core==1.31.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.40.0
gym==0.19.0
h5py==3.1.0
hiredis==2.0.0
idna==3.2
imageio==2.9.0
iniconfig==1.1.1
inspyred==1.0.1
ipykernel @ file:///D:/bld/ipykernel_1634726561474/work/dist/ipykernel-6.4.2-py3-none-any.whl
ipyparallel @ file:///home/conda/feedstock_root/build_artifacts/ipyparallel_1633007841583/work
ipython @ file:///D:/bld/ipython_1635868890879/work
ipython-genutils==0.2.0
jedi @ file:///D:/bld/jedi_1635824159632/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-core @ file:///D:/bld/jupyter_core_1635407301941/work
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
lz4==3.1.3
Markdown==3.3.4
matplotlib @ file:///D:/bld/matplotlib-suite_1632417749342/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
msgpack==1.0.2
msgpack-numpy==0.4.7.1
multidict==5.1.0
mypy-extensions==0.4.3
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
nlopt==2.7.0
numpy @ file:///D:/bld/numpy_1635892119483/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencensus==0.7.13
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==21.0
pandas @ file:///D:/bld/pandas_1634504373413/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pathspec==0.9.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///D:/bld/pillow_1630696805646/work
platformdirs==2.3.0
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1634921890410/work
protobuf==3.17.3
psutil @ file:///D:/bld/psutil_1635822871234/work
py==1.10.0
py-spy==0.3.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1635593541381/work
pyrsistent==0.18.0
pytest==6.2.5
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyWavelets==1.1.1
pywin32==301
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1635877383625/work
ray==1.7.0
redis==3.5.3
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.3
scipy==1.6.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-probability==0.13.0
Tensorforce==0.6.5
termcolor==1.1.0
tf-agents==0.9.0
tifffile==2021.8.30
toml==0.10.2
tomli==1.2.1
tornado @ file:///D:/bld/tornado_1635819758615/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing-extensions==3.10.0.2
urllib3==1.26.6
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
yarl==1.6.3
